*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-x: hidden;
}

header nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 4%;
padding-right: 4%;
height: 7vh;
}

.container-header{
    background-image: url(img/robert-nelson--CDNBtuiQYE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 97%;
    height: 93vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 8%;
    box-shadow: 0px 10px 10px 5px #d1d1d1;
}

.container-header .text-header{
    display: none;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
}

.nav-list li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #a7a7a7;
    transition: .3s;
    display: inline-block;
}

nav a:hover{
    transform: scale(1.05);
    color: #5e5e5e;
}

.mobile-menu{
    display: none;
    cursor: pointer;
    background-color: #a7a7a7;
    border-radius: 6px;
    box-shadow: 0px 1px 1px 2px #d1d1d1;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #5e5e5e;
    border-radius: 6px;
    margin: 6px;
    transition: .3s;
}

.container-sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-sobre{
    margin-left: 6vh;
    width: 119vh;
}

.text-sobre h2{
    color: #5e5e5e;
    font-size: 30px;
}

.text-sobre p{
    color: #a7a7a7;
    text-align: justify;
}

.btn-social{
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.btn-social i{
    cursor: pointer;
    transition: .3s;
    color: #5e5e5e;
}

.btn-social i:hover{
    color: #444444;
}

.img-sobre{
    background-image: url(img/kiwihug-3gifzboyZk0-unsplash.jpg);
    height: 50vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: -5px 8px 8px 0px #a7a7a7;
}

.img-sobre img{
    align-items: center;
    justify-content: center;
    margin-top: -45px;
}

.container-safra{
    margin-top: 20vh;
    margin-bottom: 6vh;
}

.container-safra div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-safra h2{
    color: #5e5e5e;
    font-size: 30px;
}

.img-safra img{
    height: 100vh;
    
}

.container-safra .text-safra{
    margin-top: -8vh;
    padding-top: 0;
    color: #a7a7a7;
    transition: .3s;
    cursor: pointer;
}

.container-safra .text-safra:hover{
    color: #5e5e5e;
    transform: scale(1.03);
}

footer{
    background-color: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vh;
}

footer span{
    color: #fff;
}

footer p{
    color: #444444;
}

footer i{
    cursor: pointer;
    font-size: 30px;
    margin: 0 1vh;
    color: #fff;
    transition: .3s;
}

footer i:hover{
    color: #444444;
}


@media (max-width: 999px) {

    body{
        overflow-x: hidden;
    }
    
    .nav-list{
        position: absolute;
        top: 7vh;
        right: 0;
        width: 60vw;
        height: 93vh;
        background-color: #fff;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: .3s ease-in;
        border-bottom-right-radius: 10px;
    }

    .container-header{
        margin-bottom: 6vh;
    }

    .container-header .text-header{
        position: absolute;
        color: #fff;
        font-size: 50px;
        bottom: -8px;
        left: 0px;  
    }
    
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    .mobile-menu{
        display: block;
    }

    .container-sobre{
        flex-direction: column;
    }

    .text-sobre{
        margin-bottom: 8vh;
        width: 90vh;
        margin-left: -9px;
    }

    .img-sobre{
        display: none;
    }

    .btn-social{
        justify-content: center;
    }

    .img-safra img{
        height: 70vh;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 6vh;
    }



}

@media (max-width: 320px){

    .text-sobre{
        text-align: center;
        margin-bottom: 8vh;
        width: 40vh;
        margin-left: -9px;
        font-size: 13px;
    }

    .container-sobre{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .container-safra{
        margin-top: 0;
    }

    .img-safra img{
        height: 30vh;
    }



}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-6px, 7px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}