*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-x: hidden;
}

header nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 4%;
padding-right: 4%;
height: 7vh;
}

.container-header{
    background-image: url(img/robert-nelson--CDNBtuiQYE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 97%;
    height: 93vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 8%;
    box-shadow: 0px 10px 10px 5px #d1d1d1;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
}

.nav-list li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #a7a7a7;
    transition: .3s;
    display: inline-block;
}

nav a:hover{
    transform: scale(1.05);
    color: #5e5e5e;
}

.mobile-menu{
    display: none;
    cursor: pointer;
    background-color: #a7a7a7;
    border-radius: 6px;
    box-shadow: 0px 1px 1px 2px #d1d1d1;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #5e5e5e;
    border-radius: 6px;
    margin: 6px;
    transition: .3s;
}

@media (max-width: 999px) {

    body{
        overflow-x: hidden;
    }
    
    .nav-list{
        position: absolute;
        top: 7vh;
        right: 0;
        width: 60vw;
        height: 93vh;
        background-color: #fff;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: .3s ease-in;
        border-bottom-right-radius: 10px;
    }

    .container-header{
        margin-bottom: 6vh;
    }

    .container-header .text-header{
        position: absolute;
        color: #fff;
        font-size: 50px;
        bottom: -8px;
        left: 0px;
        
    }
    
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    .mobile-menu{
        display: block;
    }

}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-6px, 7px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}